body {
  margin: 0;
  padding: 0;
  background-color: #EFE6E6;
  color:#81638b;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}